<html>
<head>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
</head>
<h1>{{title}}</h1>
<body>
<div "all-favorites">
<ul>
<span>{{favoritespot}}</span>
<span>{{favoritespot}}</span>
<span>{{favoritespot}}</span>
<span>{{favoritespot}}</span>
</ul>
</div>
</body>
</html>